<div class="row">
  <div class="col">
    {{ 'quiz.' + quizName + '.' + option.name | translate}}
    <div class="progress">
      <div class="progress-bar"
        role="progressbar" 
        [ngStyle]="{'width': option.percent + '%'}"
        [attr.aria-valuenow]="option.percent" 
        aria-valuemin="0" 
        aria-valuemax="100">
        {{option.percent}} %
      </div>
    </div>
  </div>
  <div class="col-sm-2 mt-2">
    <button type="button"
      class="btn btn-primary w-100"
      [ngClass]="{'disabled': voted}"
      [disabled]="voted"
      (click)="toggleVote()">
      {{'quiz.vote' | translate}}
    </button>
  </div>
</div>